body {
    height: 50vh;
    background: url("https://wallpaperstock.net/sunset-at-sea-wallpapers_33553_2560x1600.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom:2em;
}

.container{
	background: rgb(0, 0, 0, .4); 
	border-radius: 10px;
	margin-top: 25px; 
}
#createAccount{
	color: white;
}